Imports libraries

In [1]:
import numpy as np
import pandas as pd
from pandas import *
import re
import math

Import files  -- excel

In [2]:
file = ('segundoejercicio.xlsx')
file2 = ('butacas.xlsx')
repository_data = pd.read_excel(file, skiprows= 6, usecols=[0,1,2,3,4,5])
repository_butacas = pd.read_excel(file2)

Transform Data

In [3]:
filter_valid_rows = repository_data.dropna(how='all')
filter_butacas = repository_butacas.dropna(how='all')

filter_valid_rows = filter_valid_rows.drop(filter_valid_rows[filter_valid_rows['Film'] == 'Total'].index)
filter_valid_rows = filter_valid_rows.drop(filter_valid_rows[filter_valid_rows['Screen'] == 'Total'].index)
filter_valid_rows = filter_valid_rows.drop(filter_valid_rows[filter_valid_rows['Cinema'] == 'Grand Total'].index)

Iterate data, and transform to correct format

In [4]:
last_screen = 0
last_cinema = 0
remove_index_list = []
for index, row in filter_valid_rows.iterrows():
    #change NAN value
    try:
        screen = float( row['Screen'] )
        if( math.isnan( screen ) ):
            filter_valid_rows.at[index,'Screen'] = last_screen
        else:
            last_screen = screen

    except:
        remove_index_list = remove_index_list + [index]
   
    # remove cinema name. 
    #change NAN
    try:
        #remove text
        cinema = re.findall('[0-9]+', row['Cinema'])
        last_cinema = (cinema[0])
        filter_valid_rows.at[index,'Cinema'] = last_cinema
        
    except:
        filter_valid_rows.at[index,'Cinema'] = last_cinema

Remove Totals

In [5]:
filter_valid_rows
#filter_valid_rows = filter_valid_rows.drop(filter_valid_rows.index[remove_index_list])
#filter_valid_rows = filter_valid_rows.assign(butacas = 0 )

,Cinema,Screen,Film,Number of Sessions,Admits,Cin Box Office Gross
0,2200,1,Batman (DOB 2D -HN),48.0,1830.0,158015.00
1,2200,1.0,Batman (SUB 2D -HN),18.0,419.0,37092.00
2,2200,1.0,Muestrame al Padre (DOB 2D -HN -2),1.0,84.0,5040.00
3,2200,1.0,Los tipos Malos (DOB 2D -HN),5.0,51.0,3742.00
4,2200,1.0,Morbius (DOB 2D -HN),2.0,37.0,3773.00
...,...,...,...,...,...,...
1388,795,10.0,Bachchhan Paandey (SUB PRE 2D -PA),3.0,164.0,923.75
1389,795,10.0,El Exorcismo (DOB PRE 2D -PA),5.0,46.0,174.47
1390,795,10.0,Casate Conmigo (DOB 2D -PA),4.0,37.0,113.71
1391,795,10.0,Morbius (SUB PRE 2D -PA),3.0,16.0,127.69
1392,795,10.0,Uncharted fuera del mapa (DOB PRE 2D -PA),1.0,6.0,19.98

Remove subtitles and resolution from movies

In [6]:
filter_valid_rows["Film"] = filter_valid_rows["Film"].str.split("\(").str.get(0)

remove NAN butacas file

In [7]:
remove_index_list = []
for index, row in repository_butacas.iterrows():
    #change NAN value
    try:
        cinema = float( row['Cinema'] )
        if( math.isnan( cinema ) ):
            remove_index_list = remove_index_list + [index]

    except:
        remove_index_list = remove_index_list + [index]
#repository_butacas = repository_butacas.drop(repository_butacas.index[remove_index_list])

Butacas Column Added and calculate maxButacas

In [8]:
repository_butacas

#calculate maxButacas
#filter_valid_rows['maxbutacas'] = filter_valid_rows['Admits'] * filter_valid_rows['butacas']
#(filter_valid_rows)


#repository_butacas['Theatre']
#repository_butacas
#
#repository_butacas
#filter_valid_rows['butacas'] = np.where(filter_valid_rows['Cinema'] == repository_butacas['Cinema'], 0, repository_butacas['Seats'])

     Theatre  Screen  Seats
0      770.0     1.0  166.0
1      770.0     2.0  156.0
2      770.0     3.0  295.0
3      770.0     4.0  166.0
4      770.0     5.0  164.0
..       ...     ...    ...
169   2209.0     2.0  247.0
170   2209.0     3.0  176.0
171   2209.0     4.0   76.0
172   2209.0     5.0   76.0
173   2209.0     6.0   48.0

[174 rows x 3 columns]

In [37]:
filter_valid_rows

,Cinema,Screen,Film,Number of Sessions,Admits,Cin Box Office Gross
0,2200,1,Batman (DOB 2D -HN),48.0,1830.0,158015.00
1,2200,1.0,Batman (SUB 2D -HN),18.0,419.0,37092.00
2,2200,1.0,Muestrame al Padre (DOB 2D -HN -2),1.0,84.0,5040.00
3,2200,1.0,Los tipos Malos (DOB 2D -HN),5.0,51.0,3742.00
4,2200,1.0,Morbius (DOB 2D -HN),2.0,37.0,3773.00
...,...,...,...,...,...,...
1388,795,10.0,Bachchhan Paandey (SUB PRE 2D -PA),3.0,164.0,923.75
1389,795,10.0,El Exorcismo (DOB PRE 2D -PA),5.0,46.0,174.47
1390,795,10.0,Casate Conmigo (DOB 2D -PA),4.0,37.0,113.71
1391,795,10.0,Morbius (SUB PRE 2D -PA),3.0,16.0,127.69
1392,795,10.0,Uncharted fuera del mapa (DOB PRE 2D -PA),1.0,6.0,19.98

In [10]:
#sum films

In [11]:
movies = filter_valid_rows.groupby("Film").agg(sum)
movies.reset_index(inplace=True)

In [12]:
movies

,Film,Number of Sessions,Admits,Cin Box Office Gross,butacas,maxbutacas
0,Ambulance,43.0,852.0,7.610260e+03,0,0.0
1,Ambulancia Plan de Huida,444.0,5300.0,3.494199e+06,0,0.0
2,BTS Permission to Dance,30.0,6023.0,5.449645e+06,0,0.0
3,Bachchhan Paandey,13.0,518.0,3.955200e+03,0,0.0
4,Batman,5525.0,208188.0,1.833362e+08,0,0.0
5,Belfast,116.0,1074.0,8.786479e+05,0,0.0
6,Blacklight,42.0,513.0,4.348030e+03,0,0.0
7,Blue Bayou,2.0,5.0,2.420000e+04,0,0.0
8,Caceria de Brujas,26.0,323.0,9.462507e+04,0,0.0
9,Callejon de las almas perdidas,18.0,106.0,8.048035e+04,0,0.0
10,Casate Conmigo,61.0,691.0,5.733565e+05,0,0.0
11,Clifford El gran perro rojo,6.0,102.0,2.362900e+03,0,0.0
12,Clifford the big red dog,1.0,16.0,1.280000e+02,0,0.0
13,Contagio en altamar,147.0,1588.0,9.903599e+05,0,0.0
14,Corazon de Fuego,9.0,169.0,1.496514e+04,0,0.0
15,Corazon de Padre,11.0,397.0,9.384418e+04,0,0.0
16,Dune,16.0,67.0,2.694449e+04,0,0.0
17,El Exorcismo,310.0,7143.0,2.760882e+06,0,0.0
18,El Exorcismo de Dios,620.0,11435.0,5.907903e+06,0,0.0
19,El Padrino 50 Aniversario,10.0,120.0,7.685436e+04,0,0.0
20,El Regreso de Gulliver,25.0,319.0,1.769366e+05,0,0.0
21,El Rey Richard,8.0,23.0,1.985925e+04,0,0.0
22,Familia Pie Grande,1.0,2.0,3.100000e+03,0,0.0
23,Fireheart,20.0,171.0,1.427010e+03,0,0.0
24,Ghostbusters El Legado,1.0,2.0,3.400000e+01,0,0.0
25,Hopper,3.0,31.0,2.480000e+02,0,0.0
26,Jhund,5.0,120.0,9.185800e+02,0,0.0
27,Jujutsu Kaisen 0,465.0,21240.0,1.942862e+07,0,0.0
28,Justicieros,4.0,12.0,5.880000e+02,0,0.0
29,La Llamada Final,3.0,58.0,1.588000e+02,0,0.0
30,La Medium,3.0,38.0,4.228700e+02,0,0.0
31,Licorice Pizza,22.0,119.0,6.903060e+04,0,0.0
32,Lienzo en Blanco,7.0,309.0,1.253400e+03,0,0.0
33,Los tipos Malos,1097.0,22241.0,1.608747e+07,0,0.0
34,Luz negra,385.0,5468.0,2.557031e+06,0,0.0
35,Marry Me,29.0,429.0,3.705050e+03,0,0.0
36,Moonfall,25.0,225.0,2.325000e+03,0,0.0
37,Morbius,297.0,6204.0,6.525537e+06,0,0.0
38,Muerte en el Nilo,11.0,186.0,4.365140e+05,0,0.0
39,Muestrame al Padre,2.0,260.0,1.560000e+04,0,0.0
40,Pil Princesa Cero Fresa,190.0,2228.0,2.150618e+06,0,0.0
41,Playhouse Castillo Maldito,97.0,1049.0,4.958752e+05,0,0.0
42,Polvo de Gallo,29.0,581.0,2.387600e+03,0,0.0
43,RRR,17.0,729.0,5.233430e+03,0,0.0
44,Reto de Valientes,2.0,127.0,3.492500e+02,0,0.0
45,Sing 2,206.0,3451.0,1.492763e+06,0,0.0
46,Space Jam Una Nueva Era,2.0,6.0,4.244000e+03,0,0.0
47,Spencer,1.0,20.0,4.075000e+01,0,0.0
48,Spiderman s camino a casa,114.0,2076.0,6.925294e+05,0,0.0
49,Sword Art Online Progressive,255.0,2427.0,1.897104e+06,0,0.0
50,The Bad Guys,34.0,364.0,3.317000e+03,0,0.0
51,The Batman,132.0,1806.0,2.115360e+04,0,0.0
52,The desperate hour,10.0,58.0,4.830200e+02,0,0.0
53,Un Romance Equivocado,5.0,14.0,4.360000e+04,0,0.0
54,Uncharted,90.0,1305.0,1.181416e+04,0,0.0
55,Uncharted fuera del mapa,1131.0,22403.0,1.962469e+07,0,0.0
56,Uuups 2 La Aventura Continua,2.0,21.0,7.200000e+01,0,0.0