Importacion de librarias

In [1]:
import numpy as np
import pandas as pd
from pandas import *
import re
import math

Importando archivos de excel

In [2]:
file = ('segundoejercicio.xlsx')
file2 = ('butacas.xlsx')
repository_data = pd.read_excel(file, skiprows= 6, usecols=[0,1,2,3,4])
repository_butacas = pd.read_excel(file2)

Eliminando NAN (empty colums), eliminando las files que contienen totales

In [3]:
#remove NAN (empty rows)
filter_valid_rows = repository_data.dropna(how='all')
filter_butacas = repository_butacas.dropna(how='all')


#remove totals
filter_valid_rows = filter_valid_rows.drop(filter_valid_rows[filter_valid_rows['Film'] == 'Total'].index)
filter_valid_rows = filter_valid_rows.drop(filter_valid_rows[filter_valid_rows['Screen'] == 'Total'].index)
filter_valid_rows = filter_valid_rows.drop(filter_valid_rows[filter_valid_rows['Cinema'] == 'Grand Total'].index)

LLenar los campos NAN de Screen y Cinema.

In [4]:
last_screen = 0
last_cinema = 0
remove_index_list = []
for index, row in filter_valid_rows.iterrows():
    #change NAN value
    try:
        screen = float( row['Screen'] )
        if( math.isnan( screen ) ):
            filter_valid_rows.at[index,'Screen'] = last_screen
        else:
            last_screen = screen

    except:
        remove_index_list = remove_index_list + [index]
   
    # remove cinema name. 
    #change NAN
    try:
        #remove text
        cinema = re.findall('[0-9]+', row['Cinema'])
        last_cinema = (cinema[0])
        filter_valid_rows.at[index,'Cinema'] = last_cinema
        
    except:
        filter_valid_rows.at[index,'Cinema'] = last_cinema

Eliminacion Subtitulos y calida de la pelicula. ( borrado de parentesis )

In [5]:
filter_valid_rows["Film"] = filter_valid_rows["Film"].str.split("\(").str.get(0)

Se agregan las butacas

In [6]:
#set by defaullt
filter_valid_rows = filter_valid_rows.assign(butacas = 252 ) 
filter_valid_rows = filter_valid_rows.astype({'Cinema': float, 'Screen': float})

In [7]:
#comparar el cinema y las salas para ver con cuantos asientos cuenta
for index, row in filter_valid_rows.iterrows():
    for index2, row2 in filter_butacas.iterrows():
        try:
            if(row['Cinema'] == row2['Theatre'] and row['Screen'] == row2['Screen'] ):
                filter_valid_rows.at[index,'butacas'] = row2['Seats']
        except:
            print('ouch')

In [8]:
filter_valid_rows

,Cinema,Screen,Film,Number of Sessions,Admits,butacas
0,2200.0,1.0,Batman,48.0,1830.0,252
1,2200.0,1.0,Batman,18.0,419.0,252
2,2200.0,1.0,Muestrame al Padre,1.0,84.0,252
3,2200.0,1.0,Los tipos Malos,5.0,51.0,252
4,2200.0,1.0,Morbius,2.0,37.0,252
...,...,...,...,...,...,...
1388,795.0,10.0,Bachchhan Paandey,3.0,164.0,124
1389,795.0,10.0,El Exorcismo,5.0,46.0,124
1390,795.0,10.0,Casate Conmigo,4.0,37.0,124
1391,795.0,10.0,Morbius,3.0,16.0,124
1392,795.0,10.0,Uncharted fuera del mapa,1.0,6.0,124

Se calcula la columna maxbutacas

In [9]:
#calculate maxButacas
filter_valid_rows['maxbutacas'] = filter_valid_rows['Number of Sessions'] * filter_valid_rows['butacas']

In [10]:
filter_valid_rows
filter_valid_rows.to_excel('resultado_final.xlsx',sheet_name='parcial')

Calculo de columna Occ

In [11]:
movies = filter_valid_rows.groupby("Film").agg(sum)
movies.reset_index(inplace=True)
movies['Occ'] =  round( (movies['Admits'] / movies['maxbutacas'] ) *100 , 0).astype(int)

Eliminando Columnas en desuso

In [12]:
#remove colums
movies.drop(['Number of Sessions','butacas', 'Cinema','Screen'], axis = 1, inplace = True)

Agregando formato de salida

In [13]:
movies = movies.astype({'Film': str, 'Admits': int, 'maxbutacas': int, 'Occ': str})

In [14]:
movies['Occ'] = movies['Occ']+'%'
movies

                               Film  Admits  maxbutacas  Occ
0                        Ambulance      852        6880  12%
1         Ambulancia Plan de Huida     5300       84196   6%
2          BTS Permission to Dance     6023        8462  71%
3                Bachchhan Paandey      518        1278  41%
4                           Batman   208188     1188080  18%
5                          Belfast     1074       15870   7%
6                       Blacklight      513        4496  11%
7                       Blue Bayou        5         262   2%
8                Caceria de Brujas      323        3881   8%
9   Callejon de las almas perdidas      106        3127   3%
10                  Casate Conmigo      691        8694   8%
11     Clifford El gran perro rojo      102        1046  10%
12        Clifford the big red dog       16          88  18%
13             Contagio en altamar     1588       22584   7%
14                Corazon de Fuego      169         883  19%
15                Corazon de Padre      397        1803  22%
16                            Dune       67        2552   3%
17                    El Exorcismo     7143       51499  14%
18            El Exorcismo de Dios    11435      123750   9%
19       El Padrino 50 Aniversario      120        1313   9%
20          El Regreso de Gulliver      319        4094   8%
21                  El Rey Richard       23        1287   2%
22              Familia Pie Grande        2         141   1%
23                       Fireheart      171        2102   8%
24          Ghostbusters El Legado        2         196   1%
25                          Hopper       31         318  10%
26                           Jhund      120         552  22%
27                Jujutsu Kaisen 0    21240       82241  26%
28                     Justicieros       12         640   2%
29                La Llamada Final       58         600  10%
30                       La Medium       38         465   8%
31                  Licorice Pizza      119        3693   3%
32                Lienzo en Blanco      309        1208  26%
33                 Los tipos Malos    22241      199510  11%
34                       Luz negra     5468       61273   9%
35                        Marry Me      429        2827  15%
36                        Moonfall      225        2269  10%
37                         Morbius     6204       66502   9%
38               Muerte en el Nilo      186        1539  12%
39              Muestrame al Padre      260         447  58%
40         Pil Princesa Cero Fresa     2228       28715   8%
41      Playhouse Castillo Maldito     1049       15694   7%
42                  Polvo de Gallo      581        5072  11%
43                             RRR      729        2354  31%
44               Reto de Valientes      127         418  30%
45                          Sing 2     3451       31553  11%
46         Space Jam Una Nueva Era        6         335   2%
47                         Spencer       20         191  10%
48       Spiderman s camino a casa     2076       19580  11%
49    Sword Art Online Progressive     2427       40902   6%
50                    The Bad Guys      364        4283   8%
51                      The Batman     1806       26984   7%
52              The desperate hour       58         898   6%
53           Un Romance Equivocado       14        1184   1%
54                       Uncharted     1305       12040  11%
55        Uncharted fuera del mapa    22403      198407  11%
56    Uuups 2 La Aventura Continua       21         252   8%

In [15]:
movies.to_excel('resultado_final.xlsx',sheet_name='parcial')